.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 20px; */
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.counter {
  border-top: 1px solid lightgrey;
  display: flex;
  padding: 10px 5px 10px 5px;
}

.counter:last-child {
  border-bottom: 1px solid lightgrey;
}

.counter-item {
  flex: 1 1 auto;
}

.counter-item:first-child {
  color: blue;
  flex: 1 1 30px;
}

.btn-addnew {
  margin-top: 20px;
}

.counter-count { 
  font-weight: bold; 
  font-size: 1.3em;
}